#rodape { margin-top: 70px; }
#rodape .info { display: flex; justify-content: space-between; }
#rodape .heading { text-transform: uppercase; font-weight: bold; color: #00386f; }
#rodape .coluna ul { padding-left: 20px; }
#rodape .coluna ul li { color: #6b6b6b; list-style: none; margin-bottom: 5px; }
#rodape .coluna ul li:before { content: '•'; margin-right: 10px; font-size: 18px; font-weight: bold; color: #00386f; }
#rodape .coluna.contato ul li:before { display:none }
#rodape .coluna.contato ul li span { margin-bottom: 5px; display: flex; font-weight: bold; text-transform: uppercase; color: #00386f; font-size: 14px; }
#rodape .coluna.contato ul li { margin-bottom: 20px; }
#rodape .coluna.contato ul li .numero { display: flex; align-items: center; color: #00386f; }
#rodape .coluna.contato ul li .numero i { font-size: 22px; color: #00386f; margin-right: 5px; }
#rodape .coluna ul.social { display: flex; padding: 0; }
#rodape .coluna ul.social li { list-style: none; }
#rodape .coluna ul.social li:before { display: none; }
#rodape .coluna ul.social li i { padding: 15px; font-size: 18px; display: flex; color: white; border-radius: 5px; margin-right: 5px; }
#rodape .coluna ul.social li:nth-child(1) i { background: #00386f; }
#rodape .coluna ul.social li:nth-child(2) i { background: #ea4e49; }
#rodape .coluna ul.social li:nth-child(3) i { background: #49c1ea; }
#rodape .coluna ul.social li:nth-child(4) i { background: #e03d38; }
#rodape .coluna ul.social li i:hover { opacity: 0.6; cursor: pointer; }
#rodape .coluna .download { display: flex; flex-direction: column; }
#rodape .coluna .download img { display: flex; width: fit-content; margin-top: 10px; }
#rodape .coluna .download img:hover { cursor: pointer; opacity: .6; }

/* Copyright */
.copyright { margin-top: 30px; }
.copyright .container { border-top: 6px solid #00386f; }
.copyright p { font-weight: bolder; color: #b2b2b2; } 
